@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@layer base {
    :root {
        --main-bg: #212427;
        --second-bg: #282c31;
        --text-color: #cacaca;
    }
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    html,
    body {
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 400;
    }
    body {
        @apply bg-white;
    }
    input,
    select,
    textarea {
        @apply mb-[10px] p-[5px] outline-none border-[1px] border-solid border-[#c2c2c2] rounded-[5px] w-full overflow-auto;
    }
    textarea {
        @apply min-h-[200px];
    }
    label {
        @apply mb-[10px];
    }
}

@layer utilities {
    .layout {
        @apply text-[color:var(--text-color)] bg-[color:var(--main-bg)] flex w-full min-h-screen h-screen;
    }
    .main {
        @apply p-[40px] flex-1 flex flex-col;
    }
    .sidebar {
        @apply bg-[color:var(--second-bg)] flex flex-col py-[40px] px-[20px] justify-between items-center rounded-tl-[10px] rounded-bl-[10px] opacity-100 w-min translate-x-[0px] transition-all duration-[2000];
    }
    .sidebar.active {
        @apply opacity-0 w-0 translate-x-[-9999px] p-0;
    }
    .navbar {
        @apply flex justify-between;
    }
    .menu_item a.active,
    .menu_item a:hover {
        @apply bg-[rgba(255,255,255,0.4)];
    }
    .main-content {
        @apply bg-[#f4f7fa] rounded-[5px] p-[20px] text-black flex-1 flex flex-col;
    }

    .modal-overlay {
        @apply fixed w-full h-full top-0 bg-[rgba(0,0,0,0.3)] z-10;
    }
    .modal-wrapper {
        @apply absolute w-auto h-auto top-[50%] left-[50%] z-20 translate-x-[-50%] translate-y-[-50%];
    }
    .message-frame {
        @apply bg-white rounded-[5px] p-[10px] w-[50%] h-full;
    }
    .message-item {
        @apply mb-[10px];
    }
    .message {
        @apply bg-[#ddd] rounded-[10px] px-[10px] py-[5px] inline-block;
    }
}
